<ul class="main-nav">
    <li>
      <a href="{% url 'home' %}" >
        <i class="fas fa-home fa-3x home">
          <div class = "circle"></div>
        </i>
        <div class = "title">Home</div>
      </a>
    </li>
    
    <li>
      <a href="{% url 'facebook' %}" >
        <i class="fab fa-facebook fa-3x facebook">
          <div class = "circle"></div>
        </i>
        <div class = "title">Facebook</div>
      </a>
    </li>
    
    <li>
      <a href="{% url 'youtube' %}" >
        <i class="fab fa-youtube fa-3x youtube">
          <div class = "circle"></div></i>
        <div class = "title">YouTube</div>
      </a>
    </li>
    
    <li>
      <a href="https://github.com/jasminegmp" target = "_blank">
          <i class="fab fa-github fa-3x github">
            <div class = "circle"></div></i>
          <div class = "title">Github</div>
        </a>
    </li>
    <div class="background"></div>
  
  </ul>